<div class="right_col" role="main">
    <!-- top tiles -->
    <div class=" tile_count">

        <div class="row p-6">
            <h5>Select Company :</h5>

            <select class="form-control" #companyDDFields (change)="OnCompanyDDChange(companyDDFields.value)">
                <option value="" disabled selected>--Select Company--</option>
                <option *ngFor="let lang of companyDDdetails"
                    value={{lang.companyId}}>  
                {{lang.companyName}}  
            </option>  
            </select>
            </div>
            <br/>
            <div class="row p-6" >
                <h5>Select Employee :</h5>
                <select class="form-control" #empDDFields (change)="OnEmpDDChange(empDDFields.value)">
                    <option value="" disabled selected>--Select Employee--</option>
                    <option *ngFor="let emp of allEmpDetails"
                        value={{emp.id}}>  
                    {{emp.email}}  
                </option>  
                </select>
            <!-- </div>
            <div class="row p-6" > -->
                <!-- <h5>Select Project Details :</h5>
                <select class="form-control" #projDDFields (change)="OnProjectDDChange(projDDFields.value)">
                    <option value="" disabled selected>--Select Project--</option>
                    <option *ngFor="let lang of allProjDetails"
                        value={{lang.projectId}}>  
                    {{lang.projectName}}  
                </option>  
                </select> -->

        </div>
        <br/><br/>
        <div style="height: 400px;overflow-y: auto;" >
            <table border="1" id="tblCompany">
          <tr>
            <th>Company Name</th>
            <th>Project Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date Created</th>
            <th>Date Modified</th>
          </tr>
          <tr *ngFor="let item of employees">
            <td>{{item.companyId}}</td>
            <td>{{item.projectId}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.dateCreated}}</td>
            <td>{{item.dateModified}}</td>
            <!-- <td>
            <button class="btn btn-success" (click)="editEmp(item.id)">Edit</button>
            <button class="btn btn-danger btnSubmit" (click)="delete(item.id)">Delete</button>
          </td> -->
          </tr>
        </table>
          </div>


    </div>
</div>