<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row tile_count">
    <div class="">
  <form [formGroup]="EmployeeForm" (ngSubmit)="onSubmit()">
    <h1>Add Employee Details</h1>
    <div class="divCompany">
    <div class="row p-6">
      <input class="form-control" formControlName="companyId" placeholder="Company ID" type="text">
    </div>
    <div class="row p-6">
      <input class="form-control" formControlName="projectId" placeholder="Project ID" type="text">
    </div>
    <div class="row p-6">
      <input class="form-control" formControlName="firstname" placeholder="First Name" type="text">
    </div>
    <div class="row p-6">
      <input class="form-control" formControlName="lastname" placeholder="Last Name" type="text">
    </div>
    <div class="row p-6">
      <input class="form-control" formControlName="gender" placeholder="Gender" type="text">
    </div>
    <div class="row p-6">
      <input class="form-control" formControlName="email" placeholder="Email" type="text">
    </div>
    <div class="row p-6">
      <input class="form-control" formControlName="phone" placeholder="Phone" type="text">
    </div>
    <div class="row p-6">
      <input class="form-control" formControlName="datecreated" placeholder="Date Created" type="text">
    </div>
    <div class="row p-6">
      <input class="form-control" formControlName="datemodified" placeholder="Date Modified" type="text">
    </div>
    <div class="row">
      <button *ngIf="Submit" class="btn btn-primary" role="button" type="submit" width="100px"><h6>Submit</h6></button>
    </div>
   </div>
  </form>
</div>
<br>
  <!-- top tiles -->
  <div style="height: 400px;overflow-y: auto;" >
    <table border="1" id="tblCompany">
  <tr>
    <th>Company ID</th>
    <th>Project ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Date Created</th>
    <th>Date Modified</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let item of allEmpDetails">
    <td>{{item.companyId}}</td>
    <td>{{item.projectId}}</td>
    <td>{{item.firstName}}</td>
    <td>{{item.lastName}}</td>
    <td>{{item.gender}}</td>
    <td>{{item.email}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.dateCreated}}</td>
    <td>{{item.dateModified}}</td>
    <td>
    <button class="btn btn-success" (click)="editEmp(item.id)">Edit</button>
    <button class="btn btn-danger btnSubmit" (click)="delete(item.id)">Delete</button>
  </td>
  </tr>
</table>
</div>
</div>
</div>

<div *ngIf="show">
  <div class="popup">
    <a class="close" (click)="closePopup()">&times;</a>
    <h2>Thanks!</h2>
    <div class="content">
      Succesully added new Employee Details
    </div>
  </div>
</div>
