<div class="right_col" role="main">
    <!-- top tiles -->
    <div class=" tile_count">
      <div class="" >
        <div class="wrap">
          <div class="search">
             <input type="text" class="searchTerm" placeholder="Search" #searchText >
             <button type="submit" class="searchButton" (click)="SearchDetails(searchText.value)">
               <i class="fa fa-search"></i>
            </button>
          </div>
       </div>
    <form [formGroup]="ProjectForm" (ngSubmit)="onSubmit()">
      <h1>Add Project Details</h1>
      <!-- Search -->
      

      <div class="divCompany">
      <div class="row p-6">
        <input class="form-control" formControlName="projectname" placeholder="Project Name" type="text">
      </div>
      <div class="row p-6">
        <input class="form-control" formControlName="projectdescription" placeholder="Project Description" type="text">
      </div>
      <div class="row">
        <button *ngIf="Submit" class="btnSubmit submit" role="button" type="submit" width="100px"><h6>Submit</h6></button>
        
        </div>
        <div class="row">
          <button *ngIf="!Submit" class="btnSubmit submit" role="button" type="submit" width="100px"><h6>Update</h6></button>
          </div>
      </div>
    </form>

  </div>
  <br/>
  
    <div style="height: 340px;overflow-y: auto;" >
    <table border="1" id="tblCompany">
      <tr>
        <th>Project Name</th>
        <th>Project Description</th> 
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of allProjDetails">
        <td >{{item.projectName}}</td>
        <td >{{item.projectDesc}}</td> 
        <td><button class="btn btn-success" (click)="EditProject(item.projectId)">Edit</button></td> 
      </tr>
    </table>
  </div>
  </div>
  </div>
  
  <div *ngIf="show">
    <div class="popup">
      <a class="close" (click)="closePopup()">&times;</a>
      <h2>Thanks!</h2>
      <div class="content" *ngIf="!EditCheck">
        Succesully added new Company Details 
      </div>
      <div class="content" *ngIf="EditCheck">
        Succesully updated Company Details 
      </div>
      <br/>
    <button (click)="closePopup()" class="btn btn-success">Ok</button>
    </div>
  </div>

  <div *ngIf="showUpdate">
    <div class="popup">
      <a class="close" (click)="closeUpdatePopup()">&times;</a>
      <h2>Thanks!</h2>
      <div class="content">
        Succesully updated Company Details 
      </div>
      <br/>
    <button (click)="closeUpdatePopup()" class="btn btn-success">Ok</button>
    </div>
  </div>

