<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row tile_count">
    <div class="">
  <form [formGroup]="CompanyForm" (ngSubmit)="onSubmit()">
    <h1>Add Company Details</h1>
    <div class="divCompany">
    <div class="row p-6">
      <input class="form-control" formControlName="companyname" placeholder="Company Name" type="text">
    </div>
    <div class="row p-6">
      <input class="form-control" formControlName="companyPhone" placeholder="Company Phone" type="text">
    </div>
    <div class="row p-6">
      <input class="form-control" formControlName="companyAddress" placeholder="Company Address" type="text">
    </div>
    <div class="row">
      <button *ngIf="Submit" class="btnSubmit submit" role="button" type="submit" width="100px"><h6>Submit</h6></button>
      
      </div>
      <div class="row">
        <button *ngIf="!Submit" class="btnSubmit submit" role="button" type="submit" width="100px"><h6>Update</h6></button>
        </div>
    </div>
  </form>
</div>
  <br/>

  <div style="height: 400px;overflow-y: auto;" >
  <table border="1" id="tblCompany">
    <tr>
      <th>COmpany Id</th>
      <th>Company Name</th>
      <th>Company Phone</th>
      <th>Company Address</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of allCompanyDetails">
      <td>{{item.companyId}}</td>
      <td >{{item.companyName}}</td>
      <td >{{item.companyPhone}}</td>
      <td >{{item.companyAddress}}</td>
      <td><button class="btn btn-success" (click)="edit(item.companyId)">Edit</button>
        <button class="btn btn-danger" (click)="delete(item.companyId)">Delete</button></td>
    </tr>
  </table>
</div>
</div>
</div>

<div *ngIf="show">
  <div class="popup">
    <a class="close" (click)="closePopup()">&times;</a>
    <h2>Thanks!</h2>
    <div class="content" style="color: white">
      Succesully added new Company Details
    </div>
    <br/>
    <button (click)="closePopup()" class="btn btn-success">Ok</button>
  </div>
</div>
